:root {
    --color-primary: #360517;
    --color-secondary: #9e0b41;
    --color-tertiary: #FFFCF5;
    --color-quaternary: #cc3e18;
    --color-quinary: #f0971c;
}

body {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.form-label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    border: 1px solid var(--color-quaternary);
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button, .button-link {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    flex: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
