:root {
    --color-primary: #360517; /* Fundo da página */
    --color-secondary: #9e0b41; /* Fundo do header e sidebar */
    --color-tertiary: #FFFCF5; /* Texto */
    --color-quaternary: #cc3e18; /* Destaque secundário */
    --color-quinary: #f0971c; /* Destaque principal */
}

body {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-tertiary);
}

.header .logo img {
    max-height: 50px;
}

.saldo-container {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.saldo-container strong {
    color: var(--color-quinary);
}

.sidebar {
    background-color: #820935;
    padding: 1rem;
    color: var(--color-tertiary);
    flex: 20%;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.bets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.bet-card {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-quaternary);
    padding: 1rem;
    border-radius: 8px;
    color: var(--color-tertiary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 1200px;
}

.bet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.bet-card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-quinary);
}

.bet-card p {
    margin: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.text-center {
    text-align: center;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
}

.btn-primary:hover {
    background-color: var(--color-quaternary);
    transform: translateY(-3px);
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid var(--color-quaternary);
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: var(--color-quinary);
    outline: none;
}

.btn-success {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-success:hover {
    background-color: var(--color-quaternary);
    transform: translateY(-3px);
}

.btn-wallet {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-wallet:hover {
    background-color: var(--color-quaternary);
    transform: translateY(-3px);
}

.card {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-quaternary);
    border-radius: 8px;
    color: var(--color-tertiary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-quinary);
}

.card p {
    margin: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.card .btn-warning {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card .btn-warning:hover {
    background-color: var(--color-quaternary);
    transform: translateY(-3px);
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-group .form-control {
    padding: 0.5rem;
    border: 1px solid var(--color-quaternary);
    border-radius: 5px 0 0 5px;
    transition: border-color 0.3s ease;
    width: 500px;
}

.input-group .form-control:focus {
    border-color: var(--color-quinary);
    outline: none;
}

.input-group .btn-outline-success {
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    border: 1px solid var(--color-quinary);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 0.5rem 1rem;
}

.input-group .btn-outline-success:hover {
    background-color: var(--color-quaternary);
    transform: translateY(-3px);
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.filter-container .btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-quaternary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 0.5rem;
}

.filter-container .btn:last-child {
    margin-right: 0;
}

.filter-container .btn-outline-primary {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}

.filter-container .btn-outline-primary:hover {
    background-color: var(--color-quaternary);
    color: var(--color-tertiary);
    transform: translateY(-3px);
}


.categories {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-quinary);
}

.categories .list-group {
    width: 100%;
    max-width: 300px;
}

.categories .list-group-item {
    background-color: #820935;
    color: var(--color-tertiary);
    margin-bottom: 0.8rem; /* Espaçamento entre os itens */
    padding: 0.5rem 1rem; /* Espaçamento interno para melhorar o layout */
    border-radius: 5px; /* Opcional: para deixar os itens mais visuais */
}


.categories .category-link {
    color: var(--color-tertiary);
    text-decoration: none;
}
