:root {
    --color-primary: #360517; /* Fundo */
    --color-secondary: #9e0b41; /* Botões e destaque */
    --color-tertiary: #FFFCF5; /* Texto */
    --color-quaternary: #cc3e18; /* Destaque secundário */
}

body {
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container {
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: #820935;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
}

.logo {
    max-width: 150px;
}

h1 {
    font-size: 2rem;
    color: var(--color-tertiary);
}

.description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--color-tertiary);
}

.buttons a {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-tertiary);
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary {
    background-color: var(--color-secondary);
    border: none;
}

.btn-primary:hover {
    background-color: #b80e3d;
    transform: translateY(-3px);
}

.btn-secondary {
    background-color: var(--color-quaternary);
    border: none;
}

.btn-secondary:hover {
    background-color: #991c12;
    transform: translateY(-3px);
}
